.gradientBackground {
  background: linear-gradient(-45deg, #f0b4fc, #e6e6e6, #a3dcf5, #e6e6e6);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.gradientLoadMemories {
  background: rgb(207, 207, 207);
  background: linear-gradient(
    180deg,
    rgba(207, 207, 207, 1) 14%,
    rgba(195, 211, 218, 1) 55%,
    rgba(163, 220, 245, 1) 100%
  );
}

.gradientUploadStory {
  background: rgb(207, 207, 207);
  background: linear-gradient(
    180deg,
    rgba(207, 207, 207, 1) 14%,
    rgba(217, 199, 220, 1) 58%,
    rgba(240, 180, 252, 1) 100%
  );
}

.gradientDashboard {
  background: rgb(249, 254, 30);
  background: linear-gradient(
    180deg,
    rgba(249, 254, 30, 1) -20%,
    rgba(249, 254, 30, 1) 0%,
    rgba(249, 254, 30, 0) 100%
  );
}

.gradientImpressum {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(244, 244, 244, 1) 100%
  );
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
