@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  display: block;
  padding: 10px 0px;
}

.landingPage {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  padding: 50px;
  opacity: 0.9;
}